<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rules -->
      <package
            uri="ecore://nasdanika.org/models/rules"
            class="org.nasdanika.models.rules.RulesPackage"
            genModel="model/rules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rules -->
      <package
            uri="ecore://nasdanika.org/models/rules/java"
            class="org.nasdanika.models.rules.java.JavaPackage"
            genModel="model/rules.genmodel"/>
   </extension>

</plugin>
